@model IEnumerable<BelexpLogistikWebApp.Models.User>
@{
    ViewData["Title"] = "About";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">

<body>
    <div clss="divImgAboutHistory">
        <img src="https://beleks.ibiz.by/images/company/27279/header.jpg" class="backDivMainIMGAboytGostoty" />
        <span class="spanHistory">ИСТОРИЯ КОМПАНИИ</span>

    </div>
    <h1>История компании</h1>
    <div class="litllefirstinfpabout">
        <b>Группа компаний «Белэкс»</b> берёт своё начало в <b>1995</b> году, основателями которой стали четыре человека, работавших в сфере международных автоперевозок. Одним из учредителей был <b>Коваленко Василий Михайлович</b>, который и по сей день руководит компанией.
    </div>
    <h1 class="h1bluehigh">
        1995
    </h1>
    <div class="litllefirstinfpabout">
        <!--<img class="transperTrackAbout roadpng" src="~/pic/road.png" alt="=road" />-->

        Изначально <b>«Белэкс»</b> создавался преимущественно как фирма, оказывающая
        экспедиционные услуги. Однако, несколько позже было решено усиленно
        развивать парк собственных транспортных средств. И уже в <b>1998</b> году компания приобрела свой первый автомобиль
        отечественного производства <b>МАЗ</b> с полуприцепом. В <b>2004</b> году компания приобрела ещё три тягача <b>Volvo</b> с полуприцепами.
    </div>
    <h1 class="h1bluehigh">
        <img class="transperTrackAbout floatimgcar" src="~/pic/trucks.png" alt="=cars" />2004
    </h1>

    <div class="litllefirstinfpabout">
        В <b>2006</b> году произошла частичная смена учредителей, в результате которой в компанию пришли <b>Коваленко Александр Михайлович</b>, а также <b>Коваленко Сергей Васильевич</b>. С этого момента началось бурное развитие фирмы: в этом же году были приобретены четыре седельных тягача и четыре полуприцепа к ним. В <b>2008</b> году <b>«Белэкс»</b> приобрел два новых тягача <b>Volvo</b> c полуприцепами <b>Koegel</b> в Германии. Покупка совпала с началом мирового финансового кризиса, что стало первой серьёзной проверкой на прочность компании <b>«Белэкс»</b>. Несмотря на это в <b>2009</b> году было решено приобрести ещё три тягача марки Iveco.
    </div>
    <h1 class="h1bluehigh">2008</h1>
    <img class="transperTrackAbout obtecPNG" src="~/pic/car.png" alt="=cars" />

    <div class="litllefirstinfpabout">
        День за днём велась кропотливая работа, направленная на расширение пакета заказов на грузоперевозки, а также на сокращение накладных расходов, что в свою очередь позволяло предлагать клиентам конкурентные цены. Это дало возможность компании рассчитываться по своим обязательствам перед кредиторами и получать финансирование на дальнейшее развитие. В течение <b>2010-2011</b> года <b>«Белэкс»</b> приобретает <b>15</b> тягачей с полуприцепами, в их числе <b>3</b> рефрижератора.

        В <b>2012</b> году было открыто представительство компании в <b>Узбекистане</b>, <b>г. Ташкент</b>. Следом в <b>2013</b> году было открыто представительство в <b>Казахстане</b>, <b>г. Уральск</b> и в <b>Польше</b>, <b>г. Белосток</b>.
    </div>
    <h1 class="h1bluehigh">2017</h1>
    <div class="litllefirstinfpabout">
        В <b>2017</b> году открыто представительство в России <b>г.Новозыбков</b> со своим подвижным составом на российской регистрации.
    </div>
    <h1 class="h1bluehigh">
        <img class="transperTrackAbout" src="~/pic/cars.png" alt="=cars" />
        2019
    </h1>
    <div class="litllefirstinfpabout">
        К 2019 ГОДУ АВТОПАРК КОМПАНИИ НАСЧИТЫВАЕТ<br />
        <span class="spanTextSome"> более 80 АВТОМОБИЛЕЙ И 95 ПОЛУПРИЦЕПОВ</span>
    </div>
    <div class="litllefirstinfpabout">
        На сегодняшний день <b>«Белэкс»</b> — это группа компаний с офисами в пяти странах и автопарком более восьмидесяти автопоездов, с возможностью выполнения перевозок от <b>Португалии</b> до <b>Сахалина</b>, в том числе дорогих, опасных грузов.
    </div>
</body>
