@model IEnumerable<BelexpLogistikWebApp.Models.User>
@{
    ViewData["Title"] = "Autopark";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">

<body>
    <div clss="divImgAboutHistory">
        <img src="https://beleks.ibiz.by/images/company/27279/header.jpg" class="backDivMainIMGAboytGostoty" />
        <span class="spanHistory">АВТОПАРК</span>
    </div>
    <h1>Автопарк компании «Белэкс»</h1>
    <div class="litllefirstinfpabout">
        Автопарк Белэкс насчитывает более восьмидесяти автопоездов <b>VOLVO</b>, <b>IVECO</b>, <b>SCANIA</b>, <b>DAF</b>, <b>MAN</b>, <b>KAMAZ</b>, <b>RENO</b> объемом до <b>92м3</b>, соответствующих экологическим нормам <b>Европейского Союза</b>, имеющих возможность перевозки <b>ADR</b>-грузов <b>2,3,4,5,6,8,9</b>-го классов опасности. Компания также выполняет перевозки грузов с высокой стоимостью без таможенного сопровождения. Клиенты доверяют нам самое ценное: страховое покрытие компании по одному страховому случаю составляет <b>1 000 000 EUR</b>. Подвижной состав на белорусской, российской, польской, казахской и узбекской регистрации, что позволяет нам выполнять самые замысловатые перевозки собственным транспортом от Португалии до Сахалина.»
    </div>
    <h1 class="h1bluehigh sizeblueh1">
        Все наши филиалы
        имеют собственный автопарк
    </h1>
    <img class="sizepicAytopark1" src="~/pic/Autopark1.jpg" />
    <h1 class="h1bluehigh sizeblueh1">
        Обновленный подвижной
        состав для лучшей работы
    </h1>
    <img class="sizepicAytopark2" src="~/pic/Autopark2.jpg" />

</body>
