@model IEnumerable<BelexpLogistikWebApp.Models.User>
@{
    ViewData["Title"] = "Home Page";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
<body>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <div class="widget">
            <h3>Категории</h3>
            <ul>
                    <li class="color"><a href="" id="button1">Список пользователей</a></li>
                <li class="color" id="but2"><a href="" id="button2" class="buttonText">Управление ролями</a></li>
            </ul>
            </div>
        }
        else
        {
            <h4>нихаааай</h4>
        }
    }
    else
    {
        <h4 align="center">Для начала работы необходимо войти в систему</h4>
    }
</body>