@model IEnumerable<BelexpLogistikWebApp.Models.User>
@{
    ViewData["Title"] = "Home Page";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
<style>
</style>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Администратор"))
        {
            <div class="widget">
                <h3>Выберите действие</h3>
                <ul>
                    <li class="color"><a asp-controller="Users" asp-action="Index" id="button1">Управление пользователями</a></li>
                    <li class="color"><a asp-controller="Roles" asp-action="Index" id="button2" class="buttonText">Управление ролями</a></li>
                    <li class="color"><a asp-controller="Users" asp-action="DriverList" id="button1">Список водителей</a></li>
                </ul>
            </div>
        }
        if (User.IsInRole("Логист"))
        {
            <div class="widget widget2">
                <h3>Меню</h3>
                <ul>
                    <li class="color"><a asp-controller="Driver" asp-action="Drivers" id="button1">Список водителей</a></li>
                    <li class="color" id="but2"><a asp-controller="Order" asp-action="Index" id="button2" class="buttonText">Заказы</a></li>
                    <li class="color"><a asp-controller="Ride" asp-action="Index" id="button1">Список поездок</a></li>
                    <li class="color" id="but2"><a asp-controller="Waybill" asp-action="Index" id="button2" class="buttonText">Путевые листы</a></li>
                    <li class="color" id="but2"><a asp-controller="Owner" asp-action="Index" id="button2" class="buttonText">Владельцы машин</a></li>
                    <li class="color" id="but2"><a asp-controller="Car" asp-action="Index" id="button2" class="buttonText">Автопарк</a></li>
                </ul>
            </div>
        }
        if (User.IsInRole("Водитель"))
        {
            <div class="widget widget2">
                <h3>Меню</h3>
                <ul>
                    <li class="color"><a asp-controller="Ride" asp-action="DriverRides" id="button1">Мои поездки</a></li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="htmlMainStrDiv">
            <img src="https://beleks.ibiz.by/images/company/27279/header.jpg" class="backDivMainIMG" />
            <div class="backgrDivMainFoot">
                <span class="belexwhitemain">ГРУППА КОМПАНИЙ</span><br>
                <span class="belexbluemain">БЕЛЭКС</span><br />
                <span class="belexblueminmain">
                    НАДЁЖНОСТЬ И ПРОФЕССИОНАЛИЗМ В ДЕЙСТВИИ<br>
                    ДОВЕРЯЯ НАМ - ВЫ ДЕЛАЕТЕ РАЗУМНЫЙ ВЫБОР
                </span>
            </div>
        </div>
    }
</body>