@model IEnumerable<BelexpLogistikWebApp.Models.User>
@{
    ViewData["Title"] = "Service";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">

<div class="containerServiceInformation">
    <div clss="divImgAboutHistory">
        <img src="https://beleks.ibiz.by/images/company/27279/header.jpg" class="backDivMainIMGAboytGostoty" />
        <span class="spanHistory">УСЛУГИ</span>
    </div>
    <div class="NavigationServis">
        <ul class="UlAutoperev">
            <li>
                <a href="#autoperevoz">
                    АВТОМОБИЛЬНЫЕ ПЕРЕВОЗКИ
                </a>
            </li>
            <li>
                <a href="#ferperevoz">
                    ЖЕЛЕЗНОДОРОЖНЫЕ ПЕРЕВОЗКИ
                </a>
            </li>
            <li>
                <a href="#seaperevoz">
                    МОРСКИЕ ПЕРЕВОЗКИ
                </a>
            </li>
            <li>
                <a href="#aviaperevoz">
                   АВИАПЕРЕВОЗКИ
                </a>
            </li>
        </ul>
    </div>
    <div class="infoService">
        <p>
            Наша компания была образована в 1995 году как фирма, занимающаяся преимущественно экспедированием грузов. За это время в компании сформировался коллектив, знающий свою работу и умеющий качественно ее выполнять. В процессе трудовой деятельности мы заработали положительную репутацию в плане надежности и качества наших услуг.
        </p>
        <h1 class="autoperevH1"><a name="autoperevoz"></a>Автомобильные перевозки</h1>
        <img src="~/pic/autotrackserv.png" class="autoservPng" />
        <p >
            Автомобильными перевозками удобно пользоваться при необходимости доставить груз на небольшое расстояние. Гибкая система планирования маршрута позволяет быстро перевозить товары, а развитая инфраструктура дает возможность транспортировать грузы, в том числе и негабаритные, «от двери до двери». Специалисты нашей компании готовы полностью проконтролировать процесс доставки, а также провести консультации по любым возникающим вопросам.
        </p>
        <h1 class="autoperevH2"><a name="ferperevoz">Железнодорожные перевозки</a></h1>
        <img src="~/pic/trani.png" class="poezdpng" />
        <p>
            Железнодорожные перевозки являются наиболее востребованным способом перевозки грузов по России, с ее дальними расстояниями и непредсказуемыми погодными условиями. Кроме того, железнодорожная транспортировка груза выгодно отличается от других способов доставки своей невысокой стоимостью.
        </p>
        <h1 class="autoperevH1"><a name="seaperevoz">Морские перевозки</a></h1>
        <img src="~/pic/ddd.png" class="sudnopngserv" />
        <p>
            Морские перевозки — самый экономичный способ международной доставки груза.С помощью морского транспорта перевозятся любые грузы, включая генеральные. Благодаря сочетанию низкой стоимости, удобного документооборота и высокого уровня безопасности этот способ доставки является одним из самых экономичных и востребованных. Для удобства морских перевозок даже была изобретена специальная грузовая единица — контейнер.
        </p>
        <img src="~/pic/sam.png" class="aviaTransPNG"/>
        <h1 class="autoperevH2"><a name="aviaperevoz">Авиоперевозки</a></h1>
        <p>
            Авиаперевозки являются наиболее удобным способом доставки грузов небольшого объема. Воздушный транспорт — это самый быстрый, а иногда и единственно возможный, вариант транспортировки грузов в любую точку мира, что особенно актуально для ценных или скоропортящихся товаров.

            При всех очевидных преимуществах в скорости, надежности и безопасности, авиаперевозки сегодня стоят недешево. Однако профессионалы сделают все возможное, чтобы стоимость этой услуги стала приемлемой.s
        </p>
    </div>
</div>
