
@{
    ViewData["Title"] = "Index";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
<link href="~/css/site.css" rel="stylesheet" type="text/css">
<script src="~/js/site.js"></script>
<body>
    <h3 class="hInline">Путевые листы <input type="text" class="leftInputSearch" placeholder="Поиск" /></h3>
    
    <table class="table">
        <tr>
            <th>Срок годности</th>
            <th>Дата создания</th>
            <th>Машина</th>
            <th>Водитель</th>
            <th>Прицеп</th>
            <th>Серия</th>
        </tr>
        <tr>
            <td>
                23.02.2020
            </td>
            <td>
                01.01.2020
            </td>
            <td>
                првола
            </td>
            <td>
                оклту аоулк уолкт
            </td>
            <td>
                кло молкт
            </td>
            <td>
                овр6783
            </td>
        </tr>
    </table>
</body>
