/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
label {
    color: red;
}
.btn-sm {
    float: right;
    margin-left: 8px;
}
.img-responsive {
    position: absolute;
    top: 0;
    width: 75px;
    height: 75px;
    z-index: 2;
    border: 7px solid white;
    border-radius: 100%;
    
}
main {
    margin-left: 150px;
}

.navbar-nav {
    position: absolute;
    float: right;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
label.marginTextTop{
    margin-top:5px;
}
input.registerInput {
    border-radius: 3.5px;
}
input.registerInput:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
input.registerBut {
    margin-top: 10px;
    padding: 3px;
    border-radius: 5px;
    width: 175px;
}
input.registerBut:hover {
    border: 2px solid #4682B4;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

input.exitBut:hover, .CreateListBut:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
input.exitBut {
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
input.checkBEdit{
    margin-top: 8px;
    margin:5px;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.NoneSpan {
    opacity: 0;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.aPositionLeft, .aPositionRight, .aPositionLeft2, .aPositionRight2 {
    margin-left: 1%;
    border: none;
    outline: none;
    background: none;
    color: blue;
}
.aPositionRight, .aPositionRight2{
    display: none;
}
    .aPositionLeft:hover {
        text-decoration-line: underline;
    }
.freeDriversDiv{
    margin-top: 15px;
}
.tableBut{
    width:100%;
}
.tableBut th{
    width: 50%;
}
.inputOrderEnd, .inputOrderNotEnd {
    width: 100%;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    background: #f0f0f5;
}
.inputOrderEnd:hover, .inputOrderNotEnd:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.inputOrderNotEnd {
    background: white;
}

.informationOrdersEnd{
    display: none;
}
tr .informationOrdersNotEnd, tr .informationOrdersEnd {
    width: 100%;
}
.visibleHidDrivers, .visibleHidDrivers2 {
    display: none;
    width: 100%;
}
.visibleHidDrivers td, .visibleHidDrivers2 td {
    /*width: 63%;*/
}
.leftInputSearch {
   float: right;
   font-size: 0.7em;
}
.labelCrList {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.dispNone{
    visibility:hidden;
}
/* active state */
.inpCreateList:focus ~ .labelCrList, .inpCreateList:valid ~ .labelCrList {
    visibility:visible;
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}


.tableCreate{
    margin-top:20px;
    
}
.CreateListBut {
    margin-bottom:5px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .3em 1em calc(.3em + 3px);
    border-radius: 7px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    width:240px;
}

.CreateListBut:hover {
    background: rgb(53, 167, 110);
}

.CreateListBut:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}

    .bar:before, .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
.inpCreateList:focus ~ .bar:before,
.inpCreateList:focus ~ .bar:after {
    width: 50%;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 30px;
}

.inpCreateList {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
}

    .inpCreateList:focus {
        outline: none;
    }

.heightnavbar {
    height: 45px;
}

.backDivMainIMG {
    /* float: left;*/
    position: relative;
    left: -500px;
    z-index: 0;
    height: 450px;
    margin-bottom:-300px;
}
.htmlMainStrDiv {
    float: left;
    position: relative;
    /*left: 0;
   */
    height: auto;
    /*background: radial-gradient(rgb(245, 246, 255), rgb(232, 235, 251), rgb(220, 225, 246), rgb(207, 214, 242), rgb(194, 203, 238), rgb(182, 193, 233), rgb(169, 182, 229), rgb(157, 172, 224), rgb(144, 161, 220), rgb(131, 150, 216), rgb(119, 140, 211), rgb(106, 129, 207));
    */
}

.footerwhiteImg img {
    width: 25px;
}
footer {
    background-color: blue;
    height: 100px;
    margin-top:100px;
    color: antiquewhite;
}
.footerwhiteyear{
    color:white;
}
.ulfiv li{
    display:inline-block;

}
.belexbluemain {
    font-weight: 900;
    font-size: 7em;
    color: #0059b3;
    border-bottom: 1px solid white;
    position: relative;
  
    top: -140px;
    filter: drop-shadow(1px 2px 0 white);
}
.belexwhitemain {
    font-weight:700;
    font-size: 2.5em;
    color: white;
    position: relative;
    
    top: -90px;
    filter: drop-shadow(0.3px 0.3px  1px black);
}
.belexblueminmain {
    font-weight: 700;
    font-size: 1.5em;
    color: #004080;
    position: relative;
  
    top: -120px;
}

.shapkaMainBut {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-top: 30px;
    padding: 5px;
    width: auto;
    margin-right: 10px;
    font-weight: 600;
    color: #004080;
}

    .shapkaMainBut:hover {
        border: 2px solid #ffcc00;
        border-radius: 25px;
    }

.submenuhoverUl {
    color: white;
    display: none;
    list-style: none;
    position:absolute;
    margin-left:-35px;
}
.stylespanAytoparjLi{
    color:white;
    font-size:smaller;
}
.submenuhoverUl li {
    background: #0059b3;
    width: 120px;
    position: center;
    border-bottom: 1px solid white;
    padding-left: 15px;
}
        .submenuhoverUl li:last-child {
            border-bottom: none;
        }
        .submenuhoverUl li:hover {
        background: #ffcc00;
        cursor: pointer;
    }
.listVosobleMainAbout:hover .submenuhoverUl {
    display: block;
    z-index: 2;
   
}
main{
    margin-right:150px;
}
footer .text-muted {
    background: #004080;
    color: white;
}
label {
    color: #004080;
}
table .tablefooter{
    color:white;
    border-collapse:collapse;
}
.tablefooter tr td img{
    width: 55px;
}
.tablefooter tr td:nth-child(3) {
    font-size: x-large;
    font-weight: 700
}
.tablefooter tr td:nth-child(2) {
    font-size:x-large;
    font-weight:700
}
    .tablefooter tr td {
    padding-top:20px;
    color: wheat;
    padding-right:80px;
}
.AEmail{
    text-decoration:none;
}
.h1bluehigh {
    color: #004080;
    font-size:5em;
}
.backDivMainIMGAboytGostoty {
    object-fit: cover;
    width: 1500px;
    height: 150px;
    position: relative;
    left:-300px;
    right:-500px;
    z-index:0;
}
.spanHistory {
    z-index: 2;
    font-weight: 700;
    font-size: 2.5em;
    color: #0059b3;
    position: relative;
    top: -100px;
    left: -50px;
}
.litllefirstinfpabout{
    margin-bottom:20px;
    width:850px;
}
.litllefirstinfpabout:last-child {
    margin-bottom: 50px;
}

.spanTextSome {
    color: #0059b3;
}
.transperTrackAbout {
    margin: 25px;
    width: 450px;
    opacity: 0.2;
}

.roadpng {
    width: 100px;
    float: left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0;
}
.h1bluehigh:last-child {
    float: right;
}
.floatimgcar{
    width:400px;
    float:left;
}
.obtecPNG {
    float: right;
    width: 180px;
}
h1 .h1bluehigh:nth-child(2n+1) {
    float: right;
}
.sizeblueh1{
    font-size:2em;
}
.sizepicAytopark1{
    width:800px;
    margin-top:20px;
    margin-bottom:20px;
}
.sizepicAytopark2 {
    width: 800px;
    margin-top: 20px;     
    margin-bottom: 50px;
}
.NavigationServis{
    float:left;
    position:relative;
    left:-250px;
    top:10px;
    height:1300px;
}
.UlAutoperev li a {
    text-decoration: none;
    color: #0059b3;
    font-weight: 600;
}
.UlAutoperev li {
   padding:10px;
}
    .UlAutoperev li:hover a{
        color: white;
    }
    .UlAutoperev li:hover {
        background: #ffcc00;

    }
.UlAutoperev {
    list-style: none;
}
.infoService {
    /* position: absolute;
    left: 470px;*/
    top: -1300px;
    left: 200px;
    position: relative;
    width: 800px;
    overflow-x: hidden;
}
.poezdpng, .aviaTransPNG, .sudnopngserv, .autoservPng{
    opacity:0.2;
}
.autoservPng{
    width:200px;
    float:left;
    margin-right:15px;
}
.poezdpng {
    object-fit: cover;
    width: 700px;
    height:130px;
}
.sudnopngserv{
    width:200px;
    float:left;
    margin-right:15px;
}
.aviaTransPNG{
    width:200px;
}
.aviaTransPNG{
    float:right;
}
.createOrderTable {
    width: 850px;
    margin-bottom:50px;
}
.createOrderTable td:nth-child(1){
    margin-right:15px;
    padding-right:15px;
}
    .createOrderTable tr:last-child td:nth-child(1) {
height:100px    }

.containerServiceInformation{
    width: 1000px;
    height: 1000px;
}

        /*.UlAutoperev{
    width:300px;
    list-style:none;
}
.UlAutoperev li {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: #0059b3;
}
.UlAutoperev li {
    color: #0059b3;
}
.UlAutoperev li:hover {
    color: white;
    background: #ffcc00;
}
*/
        /*.infoService {
    position: relative;
    top: 10px;
    left:-100px;
    width:1000px;
}
.infoService p:last-child{
    margin-bottom: 50px;
}*/