@model BelexpLogistikWebApp.Orders

@{
    ViewData["Title"] = "EditOrder";
}

<h1>EditOrder</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label>Город доставки</label>
                <input asp-for="DepartureCity" class="form-control" />
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Контактный номер</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Почтовый адрес</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Путевой лист</label>
                <select asp-for="WaybillId" class="form-control" asp-items="ViewBag.WaybillId"></select>
                <span asp-validation-for="WaybillId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Имя заказчика</label>
                <input asp-for="CostumerName" class="form-control" />
                <span asp-validation-for="CostumerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Название груза</label>
                <input asp-for="GoodsName" class="form-control" />
                <span asp-validation-for="GoodsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Примерный вес груза</label>
                <input asp-for="GoodsWeight" class="form-control" />
                <span asp-validation-for="GoodsWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Прочая информация</label>
                <input asp-for="OtherInfo" class="form-control" />
                <span asp-validation-for="OtherInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

