@model IEnumerable<Orders>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>
<body>
    <h3>Заказы</h3>
    <div>
        <table class="tableBut">
            <tr>
                <th>
                    <input class="inputOrderNotEnd" type="button" value="В обработке" onclick="ButtClickOrdersNotEnd()" />
                </th>
                <th>
                    <input class="inputOrderEnd" type="button" value="Выполненные заказы" onclick="ButtClickOrdersEnd()" />

                </th>
            </tr>
        </table>
        <table class="table informationOrdersNotEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Заказчик
                </th>
                <th>
                    Город назначения
                </th>
            </tr>

            <tr>
                <td rowspan="2">
                    56473
                </td>
                <td>
                    hgjfjfgn,f fjk
                </td>
                <td>
                    Gjdjt
                </td>
            </tr>
            <tr>
                <td colspan="2">info<a asp-controller="Order" asp-action="Info">...</a></td>
            </tr>

        </table>
        <table class="table informationOrdersEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Краткая информация
                </th>
            </tr>
            <tr>
                <td rowspan="2">
                    35473
                </td>
                <td>
                    nbvcxdfhn,f fjk
                </td>
                <td>
                    sghfg
                </td>
            </tr>
            <tr>
                <td colspan="2">information<a asp-controller="Order" asp-action="InfoEnd">...</a></td>
            </tr>
        </table>
    </div>
</body>