@model IEnumerable<Orders>

@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>
<body>
    <h3>Заказы</h3>
    <div>
        <table class="tableBut">
            <tr>
                <th>
                    <input class="inputOrderNotEnd" type="button" value="В обработке" onclick="ButtClickOrdersNotEnd()" />
                </th>
                <th>
                    <input class="inputOrderEnd" type="button" value="Выполненные заказы" onclick="ButtClickOrdersEnd()" />

                </th>
            </tr>
        </table>
        <table class="table informationOrdersNotEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Краткая информация
                </th>
            </tr>
            @*@foreach (var orders in Model)
            {
                <tr>
                    <td>
                        @orders.CostumerId
                    </td>
                    <td>
                        @orders.OtherInfo
                    </td>
                </tr>
            }*@
            </table>
        <table class="table informationOrdersEnd">
            <tr>
                <th>
                    Номер заказа
                </th>
                <th>
                    Краткая информация
                </th>
            </tr>
            <tr>
                <td>
                    2222222
                </td>
                <td>
                    ghjfkdsk fjsj jfgnn rjkrl fbdnskk Зак!!
                </td>
            </tr>
        </table>
    </div>
</body>

