@model BelexpLogistikWebApp.Orders
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div asp-validation-summary="All"></div>
@*<form asp-action="Info" method="post">*@
    <h2>Заказ №@Model.Id</h2>
    <div>
        <table class="table">
            <tr>
                <th>Заказчик:</th>
                <td>@Html.DisplayFor(model => model.Costumer.CostumerName)</td>
            </tr>
            <tr>
                <th>Город назначения:</th>
                <td></td>
            </tr>
            <tr>
                <th rowspan="2">Груз:</th>
                <td></td>
            </tr>
            <tr>
                <td>Вес груза:  тонн</td>
            </tr>
            <tr>
                <th>Пожелания к заказу:</th>
                <td>
                    
                </td>
            </tr>

        </table>
    </div>
    <div class="orderHiddenButt">
        <button type="submit" class="btn btn-primary">Создать накладную</button>
        <button type="submit" class="btn btn-primary">Создать путевой лист</button>
    </div>
@*</form>*@