@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("admin"))
    {
        <h4>Список пользователей</h4>
    }
    else
    {
        <h4>непапал</h4>
    }
    }
    else
    {
    <div class="text-center">
        <h4>Для начала работы необходима авторизация</h4>
        <h3><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Войти</a></h3>
    </div>
}

