@model BelexpLogistikWebApp.Drivers

@{
    ViewData["Title"] = "CreateDriver";
}
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
        <link href="~/css/site.css" rel="stylesheet" type="text/css">
        <script src="~/js/site.js"></script>


    </head>
<h3>Добавить водителя</h3>
<hr />
<form asp-action="CreateDriver">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="tableCreateDriver">
        <tr>
            <td>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input asp-for="DriverSurname" class="form-control" />
                    <span asp-validation-for="DriverSurname" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>Имя</label>
                    <input asp-for="DriverName" class="form-control" />
                    <span asp-validation-for="DriverName" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label>Отчество</label>
                    <input asp-for="DriverPatronymic" class="form-control" />
                    <span asp-validation-for="DriverPatronymic" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>Дата рождения</label>
                    <input asp-for="Birthday" class="form-control" />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label>Номер прав</label>
                    <input asp-for="DriverCardId" class="form-control" />
                    <span asp-validation-for="DriverCardId" class="text-danger"></span>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label>Дата последнего медосмотра</label>
                    <input asp-for="LastMedicalInspection" class="form-control" />
                    <span asp-validation-for="LastMedicalInspection" class="text-danger"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label>Идентификационный номер</label>
                    <input asp-for="IdentificationNumber" class="form-control" />
                    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <br>
        <input type="submit" value="Создать" class="createButCreateDriver btn btn-primary" />&nbsp;&nbsp;&nbsp;
        <a asp-action="Home/Index">Назад</a>
    </div>
</form>


