@model BelexpLogistikWebApp.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="~/css/adminmainpage.css" rel="stylesheet" type="text/css">
<link href="~/css/site.css" rel="stylesheet" type="text/css">
<script src="~/js/site.js"></script>

<form class="CreateUserWidthDiv" asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Имя пользователя</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>